@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="panel panel-default">
    <div class="panel-body">


        <div class="container-fluid">
            <center>
                <span style="font-size:1.7em; font-weight:100; color:#808080;">
                    Welcome to Department of Health
                </span>
                <br />
                <span style="font-size:1em; font-weight:100; color:#808080;">
                    National Capital Regional Office
                </span>
                <br />

                <span style="font-size:2.8em; font-weight:100; color:#808080;">
                    <span style="color: #4CAF50; font-size: 1.3em; ">K</span>nowledge
                    <span style="font-size: 1.3em; color: #4CAF50">M</span>anagement
                    <span style="font-size: 1.3em; color: #4CAF50">I</span>nformation
                    <span style="font-size: 1.3em; color: #4CAF50">T</span>echnology
                    <span style="font-size: 1.3em; color: #4CAF50">S</span>ection
                </span>
            </center>
        </div>

        <br />

        <div class="container">

            <div class="col-md-3">

                <a href="@Url.Action("Index", "Document")" class="btn btn-success btn-block">
                    <div class="">
                        <div class="panel-body">
                            <div class="">

                                <center>
                                    <br />
                                    <i class="fa fa-book  fa-5x" style="color:white;"></i>
                                    <br />                            <br />
                                    <b style="font-size:1.5em;">
                                        DOCUMENT  <br /> MANAGEMENT
                                    </b>
                                </center>

                                <br />
                            </div>


                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
<style type="text/css">
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }
</style>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@